[submodule "dwmblocks"]
	path = dwmblocks
	url = git@github.com:ramonski/dwmblocks.git
[submodule "dwm"]
	path = dwm
	url = git@github.com:ramonski/dwm.git
[submodule "st"]
	path = st
	url = git@github.com:ramonski/st.git
